Windows/Gopher/.vs
Windows/**/Debug
Windows/**/Release
*.opensdf
*.sdf
Windows/.vs
Windows/.vs/Gopher/v15/.suo
Windows/.vs/Gopher/v15/Browse.VC.db
Windows/.vs/Gopher/v15/ipch/AutoPCH/4d87aa0f9341b85f/CONFIGFILE.ipch
Windows/.vs/Gopher/v15/ipch/AutoPCH/bd173bb715cdc0cc/GOPHER.ipch
Windows/.vs/Gopher/v15/Browse.VC.opendb
*.aps
*.aps
Windows/Gopher/Resource.aps
*/GOPHER.ipch
.vs